/* .fundo {
  padding: 10px;
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
} */

.zrq-label {
  /* padding: 10px; */
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.btn {
  border: 1px solid #fff;
}

.zrq-btn-width {
  width: 60px;
}

.zrq-top-icon {
  color: red;
  margin-right: 6px;
}

.zrq-form-padding {
  padding-top: 30px;
}

.zrq-error-msg {
  color: blue;
  font-size: 16px;
  font-family: monospace;
}

.zrq-text-right {
  text-align: right;
}

/* @media (min-width: 980px) {
  .zrq-card {
    width: 30%;
  }
} */
