/* .fundo {
  padding: 10px;
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
} */

/* .bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
} */

html {
  touch-action: manipulation;
}

.zrq-top-icon {
  color: red;
  margin-right: 6px;
}

.zrq-error-msg {
  color: blue;
  font-size: 16px;
  font-family: monospace;
}

.zrq-page-index .zrq-label {
  /* padding: 10px; */
  width: 30%;
  margin: 0 auto;
  text-align: center;
  border-radius: 6px;
  color: white;
  background-color: rgba(0, 0, 0, 0.65);
}

.zrq-page-index .btn {
  border: 1px solid #fff;
}

.zrq-page-index .zrq-btn-width {
  width: 60px;
}

.zrq-page-index .zrq-form-padding {
  padding-top: 30px;
}

.zrq-page-index .zrq-text-right {
  text-align: right;
}

.zrq-page-index .zrq-range {
  margin-top: 15px;
}

/* Special styling for WebKit/Blink */
.zrq-page-index .zrq-range::-webkit-slider-thumb {
  margin-top: -15px;
  -webkit-appearance: none;
  border: 5px solid #fff;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

/* All the same stuff for Firefox */
.zrq-page-index .zrq-range::-moz-range-thumb {
  margin-top: -15px;
  -webkit-appearance: none;
  border: 5px solid #fff;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

/* All the same stuff for IE */
.zrq-page-index .zrq-range::-ms-thumb {
  margin-top: -15px;
  -webkit-appearance: none;
  border: 5px solid #fff;
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.zrq-page-configuration form {
  padding: 3rem;
}

.zrq-page-configuration form table th {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 15px;
}

@media (max-width: 980px) {
  .zrq-page-configuration form {
    padding: 0.5rem;
  }
}
